*{
    box-sizing: border-box;
}
body{
    margin: 0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: "Lato", sans-serif;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555;
    background-color: #d9e9e2;
}

.form-container{
    width: 420px;
    height: 550px;
    padding: 60px 35px 35px 35px;
    border-radius: 30px;
    background-color: #c9e8c5;
    box-shadow: 13px 13px 20px #cbced1, -13px -13px 20px #fff;
}

.form-container:hover{
    box-shadow: 13px 13px 20px #fff, -13px -13px 20px #cbced1 ;
    transition: 1s;
}

.logo{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 0 auto;
    box-shadow: 0 0 2px #fed162, 0 0 5px #4db03f, 8px 8px 15px #409d39, -8px -8px 15px #4db03f;
}

.title{
    text-align: center;
    font-size: 28px;
    padding-top: 24px;
    letter-spacing: 2px;
}

.sub-title{
    text-align: center;
    font-size: 17px;
    padding-top: 7px;
    letter-spacing: 11px;
}
.field{
    width: 100%;
}
.field input{
    border: none;
    outline: none;
    background: none;
    color: #555;
}  
.pass-input{
    width: 88%;
    height: 55px;
}
.user-input{
    width: 88%;
    height: 55px;

}
.fa-solid{
    padding-left: 20px;
    font-size: 20px;
}
.username, .password{
    margin-bottom: 17px;
    border-radius: 25px;
    box-shadow: inset 8px 8px 8px #cbced1,inset -8px -8px 8px #fff;
} 
.username:hover, .password:hover{
    transition: 0.6s;
    box-shadow: inset 8px 8px 8px #fff,inset -8px -8px 8px #cbced1 ;

} 

.login-btn{
   outline: none;
   border: none;
   cursor: pointer;
   width: 100%;
   height: 50px;
   border-radius: 30px;
   font-size: 20px;
   font-weight: 700;
   color: #fff;
   background-color: #1f5b29;
   box-shadow: 3px 3px 8px #b1b1b1, -3px -3px 8px rgb(255,255,255);
   transition: all 0.5s;
}
.login-btn:hover{
    background-color: #26775f;
}
.login-btn:active{
    background-color: #88ef9e;
    
}

.link{
    padding-top: 22px;
    text-align: center;
    color: black;
}
.link a{
    text-decoration: none;
    color:#041650;
    font-size: 15px;
} 